# -------------------
# Node (React frontend)
# -------------------
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store

# -------------------
# Python (Flask backend)
# -------------------
backend/judgy-backend/
backend/__pycache__/
backend/*.pyc
backend/instance/
backend/.env
backend/.DS_Store

# -------------------
# General
# -------------------
.env
*.log
*.sqlite3
*.db
.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
ehthumbs.db
